<article class="input">
  <aside class="input__container">
    <label class="input__label" for="changeTitle">Customiza tu web</label
    ><input
      placeholder="Ej: Lorem web"
      class="input__label--input js-input"
      type="text"
      id="text"
      name="text"
    />
    <aside class="input__containerBtn">
      <button class="input__containerBtn--btn js-btn">Cambiar</button>
      <button type="reset" class="input__containerBtn--btn js-reset">
        Reset
      </button>
    </aside>
  </aside>
</article>
