<section class="section1">
  <article class="article">
    <h2 class="article__title">Lorem ipsum dolor sit amet</h2>
    <p class="article__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque qui sunt
      obcaecati, velit, est voluptatum cumque, veniam adipisci molestias ducimus
      quae. Nemo reiciendis illo consectetur possimus repellat fugit iusto
      quaerat.
    </p>
  </article>
  <article class="article line">
    <h2 class="article__title">Lorem ipsum dolor sit amet</h2>
    <p class="article__description line-left">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque qui sunt
      obcaecati, velit, est voluptatum cumque, veniam adipisci molestias ducimus
      quae. Nemo reiciendis illo consectetur possimus repellat fugit iusto
      quaerat.
    </p>
  </article>
  <article class="article">
    <h2 class="article__title">Lorem ipsum dolor sit amet</h2>
    <p class="article__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque qui sunt
      obcaecati, velit, est voluptatum cumque, veniam adipisci molestias ducimus
      quae. Nemo reiciendis illo consectetur possimus repellat fugit iusto
      quaerat.
    </p>
  </article>
</section>
