.page {
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    height: 100vh;
  }

  &__main {
    // @include tablet {
    //   height: 80vh;
    // }
    @include desktop {
      display: flex;
      flex-direction: row;
      background-color: rgb(231, 230, 230);
      justify-content: center;
      width: 100%;
      height: 80vh;
    }
  }
}
