.list__item {
  width: 100%;
}
.text {
  background-color: $red-buttons;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    padding-right: 40px;
    padding-left: 40px;
    background-color: $red-buttons;
    transition: 0.5s;
  }
}
.btn {
  height: 100%;
  text-align: center;
  display: block;
  color: white;
}
