.list {
  display: flex;
  justify-content: space-around;
  height: 40px;
  background-color: $red-buttons;
  @include desktop {
    display: flex;
    justify-content: center;
    background-color: $red-buttons;
    height: 50px;
  }
}
