.rrss__item {
  width: 13%;
  //   background-color: $brown-button;
  @include desktop {
    width: 70%;
  }
}

.btn {
  //   background-color: $brown-button;
  display: block;
  color: white;
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.rrss-text {
  background-color: $brown-button;
  padding: 10px 0px;
  text-transform: uppercase;
  @include desktop {
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.5s;
  }
}
