.section1 {
  width: 100%;
  @include tablet {
    height: 50%;
  }
  @include desktop {
    background-color: white;
    width: 60%;
    height: 100%;
  }
}
.article {
  margin: 10px;
  padding: 10px;
  &__description {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    &.line-left {
      margin-top: 10px;
      margin-bottom: 10px;
      border-left: solid $light-gray 4px;
      padding-left: 20px;
      margin-left: 20px;
    }
  }

  &.line {
    border-top: solid 1px $dark-gray;
    border-bottom: solid 1px $dark-gray;
  }
}
