.section2 {
  display: none;
  background-color: green;
  height: 500px;
  @include desktop {
    display: inline;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  &__rectangle {
    margin: 10px;
    background-color: orange;
    width: 250px;
    height: 150px;
  }
}
